<div id="<%= dom_id course %>">
  <p>
    <strong style="color: #0abde3">Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong style="color: #0abde3">Description:</strong>
    <%= course.description %>
  </p>

</div>
